@model Originarios.Models.Postagem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@foreach (var item in Model)
{


    <div class="card" style="width: 18rem">
        <img src="@Url.Action("getImg1", "Postagens", new { id = item.id_post})" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.titulo) </h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.descricao)</p>
        </div>


    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_post }) |
    @Html.ActionLink("Back to List", "Index")
</p>
