@model Originarios.Models.IndexViewModel

@{
    ViewBag.Title = "Minha Conta";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.MsgEdit)
{
    <p class="text-success">Dados atualizados com sucesso!</p>
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Alterar as configurações da minha conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>
        <dd>
            @ViewBag.usuario.nome
        </dd>

        <dt>
            CPF:
        </dt>
        <dd>
            @Convert.ToUInt64(ViewBag.usuario.cpf).ToString(@"000\.000\.000\-00")
        </dd>

        <dt>
            Data de nascimento:
        </dt>
        <dd>
            @ViewBag.usuario.dt_nasc.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Cidade:
        </dt>
        <dd>
            @ViewBag.usuario.cidade
        </dd>

        <dt>
            UF:
        </dt>
        <dd>
            @ViewBag.usuario.estado
        </dd>

        <dt>
            DDD:
        </dt>
        <dd>
            @ViewBag.usuario.ddd
        </dd>

        <dt>
            WhatsApp:
        </dt>
        <dd>
            @ViewBag.usuario.whatsapp
        </dd>

        <dt>
            E-mail:
        </dt>
        <dd>
            @ViewBag.usuario.email
        </dd>
    </dl>

    <hr />
    <dl class="dl-horizontal">
        <dt>Senha:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Alterar minha senha", "ChangePassword")
            }
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink("Voltar", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        </dt>
        <dd>
            @Html.ActionLink("Editar", "Edit", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </dd>
    </dl>
</div>
