@model Originarios.Models.Postagem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Postagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.corpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.corpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nm_img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nm_img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vb_img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vb_img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nm_img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nm_img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vb_img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vb_img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nm_img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nm_img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vb_img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vb_img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nm_img4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nm_img4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vb_img4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vb_img4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
