@model IEnumerable<Originarios.Models.Postagem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if(ViewBag.Msg != null)
{
    <p>@ViewBag.Msg</p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.corpo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_img1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vb_img1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_img2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vb_img2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_img3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vb_img3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_img4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vb_img4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.corpo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_img1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vb_img1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_img2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vb_img2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_img3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vb_img3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_img4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vb_img4)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_post }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_post }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_post })
        </td>
    </tr>
}*@

@foreach (var item in Model)
{
    <div class="">
        <div class="col-md-4">
            <div class="card justify-content-center" style="">
                <img src="@Url.Action("ObterImgNaView", "Postagens", new { id = item.id_post, img = 1 })" class="card-img-top" alt="..." style="width: 26rem" height="330rem">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.titulo) </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.descricao)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.corpo)</p>
                </div>
            </div>

            <div class="col-md-15">
                @Html.ActionLink("Detalhes", "Details", "Postagens", routeValues: new { id = item.id_post }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Editar", "Edit", "Postagens", routeValues: new { id = item.id_post }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Deletar", "Delete", "Postagens", routeValues: new { id = item.id_post }, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
</table>
