@model Originarios.Models.UsuarioRegistro
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Criar uma nova conta.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @***********************************************************************************************@

    <div class="form-group">
        <label class="col-md-2 control-label" for="nome">Nome:</label>
        <div class="col-md-10" name="nome">
            @Html.TextBoxFor(m => m.usuario.nome, new { @class = "form-control", @maxlength = "50" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="dtNasc">Data de nascimento:</label>
        <div class="col-md-10" name="dtNasc">
            @Html.TextBoxFor(m => m.usuario.dt_nasc, new { @class = "form-control", @type = "date" })
        </div>
    </div>

@***********************************************************************************************@
    <div class="form-group">
        @Html.LabelFor(m => m.registro.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.registro.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.registro.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.registro.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.registro.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.registro.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registrar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
